@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+KR&display=swap');

/*

영문 :  Fredoka One

국문 : Noto Sans KR

font-family: 'Fredoka One', cursive;
font-family: 'Noto Sans KR', sans-serif;


*/
section {
    padding-top: 50px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 80px;
}

.container .card {
    position: relative;
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    height: 200px;
    /* 음각형태 */
    box-shadow:
        inset 5px 5px 5px rgba(0, 0, 0, 0.05),
        /* 좌상단 안쪽 그림자*/
        inset -5px -5px 5px rgba(255, 255, 255, 0.5),
        /* 우하단 외곽 빛 공간*/
        5px 5px 5px rgba(0, 0, 0, 0.05),
        /* 우하단 외곽 그림자*/
        -5px -5px 5px rgba(255, 255, 255, 0.5);
    /* 좌상단 외곽 빛 공간 */
    border-radius: 16px;
    cursor: pointer;
}

.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    background: #edefef;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform linear 0.5s, background linear 0.5s;
    padding: 20px;
}

.container .card:hover .box {
    transform: translateY(-10%);
    background: #f3e2c7;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=0);
    /* IE6-9 */



}

.container .card .box .content {
    width: 100%;
    height: 100%;
    padding: 12px 0;
}


.container .card .box .content h3 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
}

.container .card .box .content h4 {
    font-size: 16px;
    text-align: center;
}
